/* CSS Reset Rule */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Google Font*/
body{
	font-family: 'Aleo', serif;
}

p{
	color: #4F4573;
}

.welcome-page-pallete{
	background-color: #D9958F;
	color: #F2F2F2;
	text-align: center;
}

.about-me-pallete{
	background-color: #F29D52;
}

.nav-text-pallete{
	color: #D9559D;
}

.nav-text{
	color: #D9559D;
}

.nav-pallete{
	background-color: #4F4573;
}

#nav-section1{
	background-color: #F2E5E4;
}

#nav-section2{
	background-color: #F2E5E4;
}

#landing{
	text-align: center;
}

#landing img{
	height: 50% ;
	width: 50% ;
}

/*Carousel Sizing*/
.carousel-pic {
  width:640px;
  height:360px;
}


/* Contacts */
#contact{
	padding: 20px;
	color: #4F4573;
}

h3{
	color: #2F3973;
}

#contact button{
	color: #4F4573;
}

#contact iframe{
	 height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     position: relative;
}

.form-margin{
	margin: 50px;
}
/* Projects */
#projects{
	background-color: #A67690;
	padding: 20px;
	text-align: center;
}

#projects h5{
	color: #A67690;
}

#projects div{
	color: #4F4573;
}

#projects button{
	color: #4F4573;
}

/*Project Text Color*/
.project-text-color{
	color: #F2F2F2;
}

/*Tools*/

#tools{
	background-color: #F2E5E4;
	text-align: center;
	padding: 20px;
}


#tools img{
	max-width: 50%;
  	height: auto;
  	align-items: center;
}

ul{
	color: #2F3973;
}

em{
	color: #A67690;
}