/* CSS Reset Rule */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Google Font*/
body{
	font-family: 'Aleo', serif;
}

p{
	color: #4F4573;
}

.nav-pallete{
	background-color: #4F4573;
}

#landing{
	background-color: #D9958F;
	color: #F2F2F2;
	text-align: center;
	
}

/*Carousel Image Sizing*/
#landing img{
	width: 100%;
	max-height: 600px;
	min-height: 220px;
}

#about{
	text-align: center;
}

#about img{
	max-width: 50%;
  	height: auto;
}

/* Contacts */
#contact{
	padding: 20px;
	color: #4F4573;
}

h3{
	color: #2F3973;
}

#contact button{
	color: #4F4573;
}

#contact iframe{
	 height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     position: relative;
}

.form-margin{
	margin: 50px;
}
/* Projects */
#projects{
	background-color: #A67690;
	padding: 20px;
	text-align: center;
}

#projects h5{
	color: #A67690;
}

#projects div{
	color: #4F4573;
}

#projects button{
	color: #4F4573;
}

/*Project Text Color*/
.project-text-color{
	color: #F2F2F2;
}

/*Tools*/
#tools{
	background-color: #F2E5E4;
	text-align: center;
	padding: 20px;
}

#tools button{
	color: #4F4573;
}

#tools img{
	max-width: 50%;
  	height: auto;
  	align-items: center;
}

ul{
	color: #2F3973;
}

em{
	color: #A67690;
}
